/.idea/
node_modules/

scripts/main.min.js

styles/main.css
styles/main_pkp.css
styles/payment.css
styles/payment_company.css
styles/payment_company_white.css
styles/payment_dark.css

themes/infoskills/default/*
!themes/infoskills/default/src
themes/default/black_yellow/*
!themes/default/black_yellow/src
themes/default/blue/*
!themes/default/blue/src
themes/default/brown_green/*
!themes/default/brown_green/src
themes/default/default/*
!themes/default/default/src
themes/default/pink_blue/*
!themes/default/pink_blue/src
themes/default/red_black/*
!themes/default/red_black/src
themes/default/red_green/*
!themes/default/red_green/src
themes/default/payment/*
!themes/default/payment/src
themes/default/payment_dark/*
!themes/default/payment_dark/src
themes/default/payment_company/*
!themes/default/payment_company/src
themes/default/payment_company_white/*
!themes/default/payment_company_white/src